{% extends 'admin_panel/base_admin.html' %}

{% block title %}Inicio | Panel Administrador{% endblock %}
{% block page_title %}Panel Administrador{% endblock %}

{% block content %}

<div class="row g-4">

    <div class="col-12 col-md-6 col-xl-3">
        <div class="card-admin">
            <h5>Apiarios</h5>
            <p class="mb-0">Gestión general de apiarios.</p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-xl-3">
        <div class="card-admin">
            <h5>Colmenas</h5>
            <p class="mb-0">Control de colmenas registradas.</p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-xl-3">
        <div class="card-admin">
            <h5>Mantenimientos</h5>
            <p class="mb-0">Seguimiento de revisiones.</p>
        </div>
    </div>

    <div class="col-12 col-md-6 col-xl-3">
        <div class="card-admin">
            <h5>Reportes</h5>
            <p class="mb-0">Estadísticas del sistema.</p>
        </div>
    </div>

</div>

{% endblock %}